:root {
  --primary-color: #2925be;
  --secondary-color: #1f5dd0;
  --background-var: #0000;
  --primary-font: #fff;
}
main {
  font-family: "Roboto", sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;

  box-sizing: border-box;
}
